# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- What are some Data Science Tools
- What are Languages of Data Science
- Libraries, APIs, Datasets and Models in Data Science
- Jupyter Notebooks: Structure and Applications
- RStudio
- Github

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy
4. Scikit-learn
5. Seaborn

| Data Science Tools |
|--------------------|
| Apache Spark |
| RStudio |
| Jupyter Notebooks |
| SAS Enterprise Miner |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = x / 60
y

3.3333333333333335

## Author
Armili Paturi